@font-face {
    font-family: 'a_little_sunshineregular';
    src: url('../fonts/a_little_sunshine-webfont.woff2') format('woff2'),
         url('../fonts/a_little_sunshine-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	background: white;
	font-family: 'a_little_sunshineregular';
	margin: 0;
	padding: 0;
}
h1,h2,h3,h4,h5{
	font-size: 80px;
  	color: #364148;
  	margin: 0;
  	position: relative;
}
h2,h3,h4,h5{
	float: left;
}
p, a, li, b, section{
	font-family: 'Josefin Slab', serif;
	font-size: 18px;
	color: #364148;
    line-height: 1.75;
    margin: 0px;
    font-weight:bold;
    clear: both;
}
.container{
	width: 980px;
	padding: 0px 10px;
	margin: 0px auto;
	padding: 40px 0px;
}
.container p{
	padding-right: 30%;
}
.header{
	padding-top: 10px;
}
.logo {
	width: 270px;
	float: left;
}
.navigation {
	display: inline-block;
	float:right;
}
.navigation li{
	display: inline-block;
	text-align: center;
	padding: 12px;
    font-size: 30px;
}
.navigation li:hover{
	color: black;
}
.banner{
	width: 100%;
	height: 316px;
	padding-top: 100px;
	clear: both;
	background:url('../images/hero.png');
	position: relative;
}
.banner h1{
	color: #fff;
	text-align: center;
}
.banner img {
	position: absolute;
    left: 37%;
    bottom: -50px;
}
.prices {
	display: block;
	width: 100%;
	min-height:420px;
	background:url(../images/pricesTopSlice.jpg) no-repeat 100% 0px, url(../images/pricesBottomSlice.jpg) 100% 100% no-repeat, #74b3d6;
    background-size: 100%;
}
.minute-walk {
	width: 300px;
  	height: 28px;
  	font-family: serif;
  	font-size: 16px;
  	line-height: 1.75;
  	color: #ffffff;
  	float:left;
}
.walk-price {
	width: 130px;
	height: 28px;
	font-family: serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.75;
	color: #ffffff;
	float:left;
}
.testimonials {
	display: block;
	width: 100%;
	min-height: 320px;
	background-color: white;
	display: table;
	padding-bottom: 60px;
}
.testimonials p{
	 margin-bottom:20px;
}
.testimonial {
	width: 36%;
  	min-height: 248px;
  	border-radius: 30px;
  	background-color: #69a2c2;
  	position: relative;
  	padding:20px 20px 20px 70px;
  	margin-right: 9%;
  	float: left;
}
.testimonial:last-child{
	margin-right: 0px;
}
.testimonial:before{
	content:"";
	display:block;
	background: url('../images/testispeach_360.png');
	width:100px;
	height: 100px;
	position: absolute;
	top: 20px;
	left:-50px;
}
.testimonial h5{
	font-size: 44px;
  	font-weight: bold;
  	color: white;
  	width: 100%;
}
.testimonial b{
	font-size: 16px;
	margin-bottom: 20px;
	color: #b8d7e8;
	width: 100%;
}
.testimonial p {
	font-size: 20px;
    line-height: 28px;
    color: #fff;
    padding: 0px;
    margin-top: 20px;
}
.contact {
	width: 100%;
	height:620px;
	background: url('../images/contactBG.png');
	background-size: 100% 100%;
}
.contact .contactSplitContainer{
	width: 40%;
	float: left;
	border-radius:6px;
	min-height: 300px;
}
.contact .contactSplitContainer:last-child{
	background: transparent;
	margin-left: 5%;
}
.contact h4{
	color: #fff;
	font-size: 46px;
}
.contact h5 {
	color:#fff;
}
.footer {
	display: block;
	width: 100%;
	height: 300px;
	background-color: #e5f6ff;
	text-align: center;
	padding: 40px 0px;
	position: relative;
}
.footer .dogfooter {
	position: absolute;
	top: -100px;
    left: 15%;
}
.footer .socialIcons{
	margin-bottom: 20px;
}
.aboutus *{
	padding-right: 30%;
}
.title:after{
	content: "";
	display: block;
	width: 60px;
	height: 35px;
	background: url('../images/pawPrints.png');
	float: right;
    margin: 20px;
}
.email:after{
	content: "";
	display: block;
	width: 37px;
	height: 30px;
	background: url('../images/contactEnvelope.png');
	float: right;
    margin: 8px 20px;
}
.tel:after{
	content: "";
	display: block;
	width: 33px;
	height: 29px;
	background: url('../images/contactphone_360.png');
	float: right;
    margin: 8px 20px;
}
.price-box {
	width: auto;
	float:left;
    margin: 15px 40px 0 0;
    width: 300px;
}
.price-box h4{
	background-color: #fff;
	width:100%;
	font-family: 'Josefin Slab', serif;
	font-size: 21px;
	color: #364148;
	padding:20px 10px;
	margin-bottom: 10px;
}
.price-box p{
	color:#fff;
	padding:0px 10px;
}
.sml{
	max-width: 130px;
}	
.clear {
	clear:both;
}